

<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>Backoff</title>
    <link href="frontend/bower_components/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">
    <link href="frontend/bower_components/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
         padding-top: 50px;
     }
     .navbar {
     }
     .starter-template {
         padding: 40px 15px;
         text-align: center;
     }

     .doc {
        h1,h2,h3 { font-size:50%;}
     }

 </style>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Backoff</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active" ng-click="menu='home'" ng-class="{active:menu=='home'}"><a href="#">Home</a></li>
        <li  ng-click="menu='home'" ng-class="{active:menu=='home'}"><a href="#doc">Doc</a></li>
    </ul>
</div><!--/.nav-collapse -->
</div>
</div>

<div class="container" ng-controller="MainCtrl">

    <div class="starter-template">
        <h1>Backoff</h1>
        <p class="lead">simple php/mysql admin generator</p>
        <p>
           <a href="backend/" class="btn btn-primary">Backend demo</a><br>
           login : admin | password : admin
        </p>
        <p>
           <a href="frontend/" class="btn btn-primary">Frontend demo</a>
       </p>
    </div>

    <h4 id="doc">Doc</h4>
    <div class="doc" ng-bind-html-unsafe="doc">Loading...</div>


</div><!-- /.container -->


<script src="frontend/bower_components/angular/angular.min.js"></script>
<script src="frontend/bower_components/markdown/lib/markdown.js"></script>
<script>
    
function MainCtrl ($scope, $http) {
    $scope.data = {};
    $scope.doc = "Loading App...";
    $http.get('README.md').
      success(function(data, status, headers, config) {
         $scope.doc = markdown.toHTML(data);
         console.log(data)
      }).
      error(function(data, status, headers, config) {
        $scope.data.doc = "Cant't fect doc"
      });
    
}
</script>
</body  
</html>
