
php_value short_open_tag 1


#
# Hide 'index.php' from url
# Redirect everthing that doesn't exists to index.php
#

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
#RewriteBase /admin/
#
# Disable Indexes
#

#Options -Indexes 

#
# Deny access to scripts and config
#

#<FilesMatch "^(config|lang|library|log|modules|plugins|themes)\.(php|yml)$">
#  Order deny,allow
#  Deny from all
#</FilesMatch>


ExpiresActive On
<FilesMatch "\.(ico|gif|jpe?g|png|js|css)$">
  ExpiresDefault "access plus 1 day"
</FilesMatch>
